* {
     margin: 0px;
     padding: 0px;
     /* position: static; */
}

.Main {
     display: flex;
     width: 100vw;
     height: 100%;
     /* border: 2px solid red; */
}

.form {
     /* border: 2px solid red; */
     display: flex;
     flex-direction: column;
     /* Aligns content in a column */
     align-items: center;
     /* Centers horizontally */
     width: 30%;
     justify-content: flex-start;
     /* Moves content to the top */
     height: 100vh;
     /* Full height of the viewport */
     padding-top: 20px;
     /* Adjust this value to move it further down */
     /* background-color: #f5f5f5; Optional background */
}


.buttons{
     /* position: absolute; */
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}


.profile {
     /* border: 2px solid rgb(174, 255, 0); */
     width: 60%;
     border: 2px solid rgb(247, 247, 247);
     height: 100%;
     display: flex;
     flex-direction: column;
     /* align-items:start; */
     justify-content: start;
     margin: 20px;
     /* margin: 60px; */


}

.profile .heading {
     font-weight: bold;
     font-size: 20px;
     margin: 3px 15px;
}

hr {
     /* border: 1px solid rgb(255, 255, 255); */
     color: rgb(187, 183, 183);
     margin: 0 20px;

}

.form .heading{
     font-size: 30px;
     font-weight: bold;
}


.buttons {
     display: flex;
     flex-direction: column;
     padding: 10px;
}

button {
     height: 50px;
     width: 300px;
     margin: 5px;
     /* background-color: white; */
     color: white;
     font-size: 20px;
}


.per{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 300px;
     /* border: 2px solid red; */
}

.rah{
     width: 30%;
}

.remove{
     background-color: rgba(0, 21, 89, 0.836);
     color: white;
     width: 30%;
     height: 40px;
     font-size: 15px;
     /* align-items: center; */
     text-align: center;
     display: flex; 
     align-items: center; 
     justify-content: center;
}
.fillClass {
     /* width: 200px; */
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px;
}


.fillClass input {
     width: 200px;
     height: 25px;
     /* margin: 2; */
     border-radius: 2px;
     font-size: 15px;
     margin-left: 10px;
     margin-right: 10px;
}


@media(max-width:768px) {
     .Main {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100vw;
          height: 100%;
          /* width: 100%; */
     }

     .form {
          /* width: 100vw; */
          /* width: 100vw; */
          margin: 20px;
          height: 70%;
     }

     .profile {
          /* width: 100vw; */
          width: 90%;
          margin: 20px;
          /* height: 100vh; */
     }
}